.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .values span {
    font-size: 20px;
    font-weight: bold;
  }
  
  .sliders {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .slider {
    width: 100%;
    margin: 0 20px;
  }
  