.container {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 200px;
  background-color: var(--bg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
