.container {
  position: relative;
  width: 300px;
  height: fit-content;
  margin: 25px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imageContainer {
  position: relative;
}

.textContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.textContainer h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.textContainer p {
  font-size: 1rem;
  font-weight: 500;
}

.cardButton {
  height: 50px;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  font-weight: 800;
  font-size: large;
}

.priceContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
