.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%; /* Ensure the container takes the full width */
}

.links {
  display: flex;
  gap: 20px;
}

.logout {
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--btn);
  cursor: pointer;
  font-weight: 800;
  height: 100%;
  text-align: center;
  color: var(--text);
  z-index: 10;
  border: none;
}

.logout:hover {
  background-color:  var(--btnHover);
  color: var(--text);
}

.menuButton,
.mobileLinks {
  display: none;
}

@media (max-width: 768px) {
  .container {
    align-items: center;
    justify-content: space-between; /* Ensures the items are spread out */
    padding-right: 25px; /* Padding to the right to keep distance from the edge */
    height: 75px;
    width: 75px;
  }

  .links {
    display: none;
  }

  .menuButton {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: black;
    margin-left: auto; /* This will push the menu button to the far right */
  }

  .mobileLinks {
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    z-index: 10;
    height: calc(100vh);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
