.container{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .wrapper{
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
  }
  
  .google{
    width: 75%;
    height: 65px;
    padding: 10px;
    display: flex;
    margin: auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg2);
    color: var(--text2);
    font-weight: 700;
    border: none;
    border-radius: 2rem;
  }

  .googleIcon{
    width: 50px;
    height: 50px;
  }