
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--form);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 400px;
    }
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 10px;
}

.form input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--form);
    border-radius: 5px;
    text-indent: 20px;
}

.innerWrapper {
    display: flex;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .innerWrapper {
        flex-direction: column;
   
    }
    
}

.form textarea {
    width: 100%;
    height: 400px;
    border: 1px solid var(--form);
    border-radius: 5px;
}

.form button {
    width: 150px;
    height: 50px;
    margin: 10px;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    font-size: 16px;
    cursor: pointer;
}

.form p {
    color: var(--text);
    font-weight: 800;
    font-size: 16px;
    margin: 10px;
}

.form button:hover {
    background-color: var(--btnHover);
}