.container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg);
}

.logo{
  font-size: 30px;
  font-weight: bold;
  z-index: 5;
  color: var(--text);
}

  @media screen and (max-width: 768px) {
    .container {
      align-items: normal;
      justify-content: normal;
      padding-right: 25px;
      height: 75px;
    }

    .logo {
      display: none;
    }
  }
  
  

  