.container {
  display: flex;
  gap: 50px;
  width: 100%;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.imgContainer {
  position: relative;
  width: 500px;
  height: 500px;
}
.title {
  font-size: 64px;
}

.detail {
  display: flex;
  gap: 20px;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
  color: green;
  font: italic;
}

.detailValue2 {
  font-weight: 500;
  color: red;
  font: italic;
}

.content {
  font-size: 15px;
  width: 600px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    gap: 25px;
  }

  .textContainer {
    gap: 10px;
    padding: 4px;
  }

  .imgContainer {
    width: 200px;
    height: 200px;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    gap: 10px;
  }

  .imgContainer {
    width: 300px;
    height: 300px;
  }

  .title {
    font-size: 32px;
  }

  .content {
    width: 100%;
  }
}
