

.container {
    margin-top: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
}

.button {
    z-index: 1;
    width: 50%;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.button span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text);
}

.button:hover {
    background-color: var(--btnHover);
    color: var(--text);
}
