.container{
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--text);
    z-index: 10;
  }
  
  .active{
    background-color: var(--btn);
    color: var(--text);
  }